In [ ]:
Onehot encoder : use when there are only two options 0,1
label ecncoder  : when we have more tahn two values  india ,america ,china ,russia

In [4]:
import sklearn 
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
import pandas as pd

In [ ]:
if there are too many null values we should not drop these rows insted of we should replace it with mean or median or mode values   


if the column is numerical use mean or median . 
 
if the column is character then use e mode.

In [5]:
df=pd.read_csv("age_salary.csv")
df

   index   Nation purchased_item   salary   age
0      0    India             No  66777.0  23.0
1      1   Russia            Yes  87878.0  24.0
2      2  Germany             No  34559.0   NaN
3      3    India            Yes  40000.0  26.0
4      4  Germany            Yes      NaN  21.0
5      5   Russia             No  45000.0   NaN
6      6  Germany            Yes  89993.0  62.0
7      7    India             No  55555.0  24.0
8      8   Russia            Yes      NaN  45.0
9      9  Germany            Yes  67222.0  53.0

In [10]:
df['age']=df['age'].fillna((df['age'].median()))  # felling age null values with median

In [14]:
import numpy as np

In [16]:
# using replace method 

df=df.replace(np.NaN,df['salary'].mean())

In [18]:
df.isnull().sum()

index             0
Nation            0
purchased_item    0
salary            0
age               0
dtype: int64

In [20]:
# using label encoder 
import sklearn 
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
import pandas as pd
le=LabelEncoder()
df['Nation']=le.fit_transform(df['Nation'])
df["Nation"]

0    1
1    2
2    0
3    1
4    0
5    2
6    0
7    1
8    2
9    0
Name: Nation, dtype: int32

In [22]:
# SVC  
import numpy as np
import pandas as pd 
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_breast_cancer 

from sklearn.naive_bayes import GaussianNB


import warnings 
warnings.filterwarnings('ignore')



from sklearn.neighbors import KNeighborsClassifier

In [24]:
import joblib

In [ ]:
joblib.dump(svc,'svcfile.obj')  # saving model as an object file        serilization 

a=joblib.load('svcfile.obj')# loading saved model object              deserilization
 
a.predict(x_test)      # using  model for prediction

a.predict(x_test)
#new_data = [[5.1, 3.5, 1.4, 0.2]]
a.predict(new_data)

In [ ]:
# saving with pickle

import pickle


filename="pickledtcfile.pkl"
pickle.dump(dtc,open(filename,"wb"))    # saving model    wb for write binary mode 
 

b=pickle.load(open(filename,'rb'))       # load      rb for read binary mode
b.predict(x_test)